.contained-area {
    padding: 2rem;
}

.filter-bar {
    background-color: #F5F5F5;
    padding: .65rem;
}

.section-title {
    padding: .25rem;
    border-bottom: 1px solid #F5F5F5;
}

.vis-card {
    margin-top: 1.65rem;
    max-width: 600px;
    min-width: 500px;
}

a {
    color: #0C93E3;
}

svg {
    height: 450px;
    width: 450px;
}
