SECURE_SETTINGS = {
    'django_secret_key': 'keep-it-secret-keep-it-safe',
    'enable_debug': True,
    'canvas_oauth_client_id': '', # Canvas developer key
    'canvas_oauth_client_secret': '', # Canvas developer key
    'canvas_domain': '',
}
